.container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 0;
}

.row.content-row {
    flex-grow: 1;
    overflow: hidden;
}

.board {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.board-cell {
    border: 8px solid #766;
    background-color: #988;
}

.eye-cell {
    font-weight: bold;
    color:#eee;
}

.cell {
    overflow: hidden
}

.board-possible-value {
    color: #448;
}